# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
bin/
obj/
*.apk
*.aab
*.ipa
*.appx

# User-specific
*.rsuser
*.user

# JetBrains Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Mac
.DS_Store

# NuGet
**/packages/
*.nupkg

# Android
local.properties
*.keystore
*.jks
